.searchBarPositioner {
  margin-top: 10px;
  width: calc(100% - 40px);
  position: relative;
  box-sizing: border-box;
}

.searchBar {
  border-radius: 30px;
  height: 50px;
  background-color: #578bb8;
  border: 1px solid transparent;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-top: 2.5px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 50px;
}

.searchBar:focus {
  outline: none;
}

.searchBarFocus {
  border-radius: 30px;
  height: 50px;
  background-color: #578bb8;
  border: 1px solid transparent;
  color: white;
  font-size: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: flex;
  align-items: center;
  padding-top: 2.5px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 50px;
}

.searchBarFocus:focus {
  outline: none;
}

.searchBar::placeholder {
  color: white;
  opacity: 0.7;
}

.searchBarFocus::placeholder {
  color: white;
  opacity: 0.7;
}

.searchBarText {
}

.inputImage {
  position: absolute;
  left: 15px; /* Adjust the left position as needed */
  top: 50%; /* Adjust the top position as needed */
  transform: translateY(-50%);
}

.searchResults {
  position: absolute;
  background-color: #578bb8;
  border-top: 0.5px solid #325573;
  height: 300px;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow-y: scroll;
  overflow-y: scroll;
  box-sizing: border-box;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}

.searchResults::-webkit-scrollbar {
  display: none;
}

.singleResult {
  display: flex;
  color: white;
  padding: 10px;
}

.singleResult:hover {
  background-color: #325573;
  cursor: pointer;
  transition: 0.5s;
}

.noBorderBottom {
  border-bottom: none;
}

.athleteImage {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.singleResultText {
  margin-left: 10px;
}

.singleResultName {
  font-size: 20px;
  font-weight: bold;
}

.singleResultDiscipline {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
}
