.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    align-items: center;
    max-width: 1800px;
    overflow-x: hidden;
    background-color: #59252e;
  }
  
  .pageLabel {
    font-size: 40px;
    font-weight: bold;
    color: white;
    width: 90%;
    color: #6ac2e6;
    border-radius: 30px;
    padding: 20px;
  }
  
  .mainBackground {
    height: 90%;
    width: 90%;
    border-radius: 40px;
    background-color: #325573;
    position: relative;
    overflow-x: hidden;
  }
  
  .mainImage {
    padding-left: 80px;
    padding-top: 40px;
  }
  
  .athleteImage {
    border-radius: 40px;
    z-index: 1;
    position: relative;
    background-color: red;
    width: 612px;
    max-height: 408px;
    object-fit: cover;
  }
  
  .mainText {
    width: calc(100% - 650px);
    height: calc(100% - 200px);
    position: absolute;
    left: 600px;
    top: 20%;
    z-index: 0;
    padding: 10px;
    border-radius: 40px;
    overflow-x: hidden;
    background-color: #59252e;
  }
  
  .mainTitle {
    margin-left: 100px;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: fit-content;
    border-radius: 20px;
    color: #59252e;
    background-color: #f2c288;
    line-height: normal;
    min-width: 300px;
  }
  
  .mainSummary {
    margin-left: 100px;
    font-size: 16px;
    font-weight: 600;
    width: calc(100% - 110px);
    border-radius: 20px;
    color: white;
    line-height: normal;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    height: calc(100% - 120px);
    min-height: 300px;
  }
  
  .leftItemsHolder {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #325573;
    border: 1px #f2c288;
  }
  
  .summaryLabel {
    font-size: 20px;
    font-weight: bold;
    background-color: #f2c288;
    color: #59252e;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 10px 10px 20px;
  }
  
  .summary {
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    height: calc(100% - 60px);
    overflow-y: scroll;
  }
  
  .sentence {
    font-weight: 500;
    margin-top: 10px;
    font-size: 20px;
  }
  
  .closestCompetitors {
    background-color: #325573;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .competitors {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .competitorsWithSlightlyLessMargin {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .label {
    font-size: 20px;
    font-weight: bold;
    background-color: #f2c288;
    color: #59252e;
    min-width: 250px;
    padding: 10px 10px 10px 20px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    overflow-x: hidden;
  }
  
  .openLink {
    color: white;
    border: 1px solid white;
    border-radius: 40px;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    min-width: 170px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .openLink:hover {
    color: #6ac2e6;
    border: 1px solid #6ac2e6;
    transition: 0.5s;
  }
  
  .mainEvents {
    font-size: 12px;
    margin-left: 3px;
    font-weight: 500;
  }
  
  .rightContainer {
    margin-right: 10px;
  }
  
  .image {
    width: 25px;
    height: 25px;
    margin-left: 5px;
  }
  
  .image:hover {
    transition: 0.5s;
    cursor: pointer;
  }
  
  .socialIconHolder {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  /* Color Theme Swatches in Hex */
  .Wilderness-1-hex {
    color: #59252e;
  }
  .Wilderness-2-hex {
    color: #325573;
  }
  .Wilderness-3-hex {
    color: #f28f16;
  }
  .Wilderness-4-hex {
    color: #f2c288;
  }
  .Wilderness-5-hex {
    color: #d95204;
  }
  
  /* Color Theme Swatches in RGBA */
  .Wilderness-1-rgba {
    color: rgba(89, 36, 46, 1);
  }
  .Wilderness-2-rgba {
    color: rgba(50, 84, 114, 1);
  }
  .Wilderness-3-rgba {
    color: rgba(242, 143, 21, 1);
  }
  .Wilderness-4-rgba {
    color: rgba(242, 194, 135, 1);
  }
  .Wilderness-5-rgba {
    color: rgba(216, 82, 4, 1);
  }
  
  /* Color Theme Swatches in HSLA */
  .Wilderness-1-hsla {
    color: hsla(348, 41, 24, 1);
  }
  .Wilderness-2-hsla {
    color: hsla(208, 38, 32, 1);
  }
  .Wilderness-3-hsla {
    color: hsla(33, 89, 51, 1);
  }
  .Wilderness-4-hsla {
    color: hsla(33, 80, 74, 1);
  }
  .Wilderness-5-hsla {
    color: hsla(22, 96, 43, 1);
  }
  
  .rightItemsHolder {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #325573;
    border: 1px #f2c288;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    min-width: 300px;
  }
  
  .competitor {
    display: flex;
    align-items: center;
    font-weight: 400;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 5.5px;
    margin-left: 5px;
    background-color: #59252e;
    padding: 10px;
    transition: background-color 0.3s ease-in-out; /* Adding a smooth transition effect */
    filter: drop-shadow(-3px -3px 1px #f28f16);
  }
  
  .competitorNoLink {
    display: flex;
    align-items: center;
    font-weight: 400;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 8px;
    margin-bottom: 5.5px;
    padding-left: 10px;
  }
  
  .accoladesBox {
    display: flex;
    align-items: center;
    font-weight: 400;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 8px;
    margin-bottom: 5.5px;
  }
  
  .competitor:hover {
    background-color: #3a6285;
    cursor: pointer;
    /* Additional styles for the hover state go here */
  }
  
  .accoladeContainer {
    display: flex;
    width: 100%;
    background-color: #59252e;
    border-radius: 10px;
    color: white;
    padding: 10px;
    padding-top: 12.5px;
  }
  