.searchBarPositioner {
  position: absolute;
  margin-top: 80px;
  width: calc(100% - 740px);
  left: 710px;
  z-index: 1000;
}

.searchBar {
  border-radius: 30px;
  margin-right: 20px;
  width: 100%;
  height: 50px;
  background-color: #59252e;
  border: 1px solid transparent;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-top: 2.5px;
  box-sizing: border-box;
  padding-left: 50px;
}

.searchBar:focus {
  outline: none;
}

.searchBarFocus {
  border-radius: 30px;
  height: 50px;
  width: 100%;
  overflow: hidden;
  background-color: #59252e;
  border: 1px solid transparent;
  color: white;
  font-size: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-top: 2.5px;
  box-sizing: border-box;
  padding-left: 50px;
  position: relative;
}

.searchBarFocus:focus {
  outline: none;
}

.searchBar::placeholder {
  color: white;
  opacity: 0.7;
}

.searchBarFocus::placeholder {
  color: white;
  opacity: 0.7;
}

.searchBarText {
  background-color: red;
}

.inputImage {
  transform: translateY(-50%);
  z-index: 1000;
  position: absolute;
  top: 25px;
  left: 15px;
}


.searchResults {
  background-color: #59252e;
  border-top: 0.5px solid #578bb8;
  height: 300px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow-y: scroll;
  filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.5));
}

.searchResults::-webkit-scrollbar {
  display: none;
}

.singleResult {
  display: flex;
  color: white;
  padding: 10px;
}

.singleResult:hover {
  background-color: #578bb8;
  cursor: pointer;
  transition: 0.5s;
}

.noBorderBottom {
  border-bottom: none;
}

.athleteImage {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.singleResultText {
  margin-left: 10px;
}

.singleResultName {
  font-size: 20px;
  font-weight: bold;
}

.singleResultDiscipline {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
}
