.mobileMain {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #59252e;
  color: white;
}

.desktopMain {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #59252e;
  color: white;
}
