@import url("https://fonts.cdnfonts.com/css/tt-firs-neue-trl");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "TT Firs Neue Trl", sans-serif;
}

.MuiSvgIcon-root {
  padding: 0px !important;
  margin: 0px !important;
}
