.searchBarPositioner {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  margin-top: 80px;
  left: 750px;
}

.searchBar {
  border-radius: 30px;
  width: 700px;
  height: 50px;
  padding-left: 50px;
  background-color: #775DCB;
  border: 2px solid #4722B5;
  color: white;
  font-size: 20px;
}

.searchBar:focus {
  outline: 2px solid #1f1731;
}

.searchBarFocus {
  border-radius: 30px;
  width: 700px;
  height: 50px;
  padding-left: 50px;
  background-color: #775DCB;
  border: 2px solid #4722B5;
  color: white;
  font-size: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.searchBar::placeholder {
  color: white;
  opacity: 0.7
}

.searchBarText {
  background-color: red;
}

/* components/SearchBar.module.css */
.inputContainer {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  overflow-x: hidden;
}

.inputImage {
  position: absolute;
  left: 10px; /* Adjust the left position as needed */
  top: 50%; /* Adjust the top position as needed */
  transform: translateY(-50%);
}

.searchResults {
  position: absolute;
  background-color: #4722B5;
  width: calc(100% - 10px);
  margin-top: 50px;
  left: 10px;
  height: 300px;
  z-index: 100;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom: 2px solid #775DCB;
  border-left: 2px solid #775DCB;
  border-right: 2px solid #775DCB;
  overflow-y: scroll;

}

.singleResult {
  display: flex;
  color: white;
  padding: 10px;
  border-bottom: 2px solid #775DCB;
}

.singleResult:hover {
  background-color: #775DCB;
  cursor: pointer;
}

.athleteImage {
  width: 100px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}

.singleResultText {
  margin-left: 10px;
}

.singleResultName {
  font-size: 20px;
  font-weight: bold;
}

