.searchBarPositioner {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  margin-top: 80px;
  width: calc(100% - 800px);
  left: 750px;
  z-index: 1000;
}

.searchBar {
  border-radius: 30px;
  width: calc(100% - 20px);
  margin-right: 20px;
  height: 50px;
  padding-left: 50px;
  background-color: #59252E;
  border: 1px solid #F2C288;
  color: white;
  font-size: 20px;
}

.searchBar:focus {
  outline: none;
}

.searchBarFocus {
  border-radius: 30px;
  width: calc(100% - 20px);
  height: 50px;
  padding-left: 50px;
  background-color: #59252E;
  border: 1px solid #F2C288;
  color: white;
  font-size: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.searchBarFocus:focus {
  outline: none;
}

.searchBar::placeholder {
  color: white;
  opacity: 0.7;
}

.searchBarFocus::placeholder {
  color: white;
  opacity: 0.7;
}

.searchBarText {
  background-color: red;
}

/* components/SearchBar.module.css */
.inputContainer {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  width: 100%;
  margin-right: 20px;
}

.inputImage {
  position: absolute;
  left: 10px; /* Adjust the left position as needed */
  top: 50%; /* Adjust the top position as needed */
  transform: translateY(-50%);
}

.searchResults {
  position: absolute;
  background-color: #59252E;
  width: calc(100% - 50px);
  margin-top: 50px;
  left: 10px;
  height: 300px;
  z-index: 100;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow-y: scroll;
}

.searchResults::-webkit-scrollbar {
  display: none;
}

.singleResult {
  display: flex;
  color: white;
  padding: 10px;
  border-bottom: 1px solid #F2C288;
}

.singleResult:hover {
  background-color: #F2C288;
  color: #59252E;
  cursor: pointer;
  transition: 0.5s;
}

.noBorderBottom {
  border-bottom: none;
}

.athleteImage {
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.singleResultText {
  margin-left: 10px;
}

.singleResultName {
  font-size: 20px;
  font-weight: bold;
}

.singleResultDiscipline {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
}
