.tableHolder {
  width: calc(100% / 2.6);
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 40px;
  background-color: #1264DB;
  height: calc(100% - 450px);
  border-radius: 30px;
  filter: drop-shadow(10px 10px 5px #5CBEE6);
}

.tableHeader {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #6AC2E6;
}

.imageIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  filter: drop-shadow(0px 0px 2px #272279);
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.singleResult {
  border-bottom: 1px solid #272279;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  color: white;
}

.tableHeaderLabels {
  color: #01012E;
  display: flex;
  padding-left: 20px;
  font-weight: 500;
  width: 100%;
  margin-top: 10px;
}

.tableHeaderLabelSmall {
  width: calc(100% / 6);
}

.tableHeaderLabelSmallBold {
  width: calc(100% / 8);
  font-weight: bold;
  margin-right: 10px;
}

.tableHeaderLabelSmallLabel {
  width: calc(100% / 8);
  margin-right: 10px;
}

.tableHeaderLabelSmallDate {
  width: calc(100% / 5);
}

.tableHeaderLabelLarge {
  width: calc(100% / 2.5);
  margin-right: 5px;
}

.resultHolder {
  overflow-y: scroll;
  height: calc(100% - 100px);
}

.resultHolder::-webkit-scrollbar {
  display: none;
}
