.tableHolder {
  width: calc(100% - 40px);
  background-color: #578bb8;  
  height: calc(100% - 450px);
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.tableHeader {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #f2c288;
  color: #59252e;
}

.leftItemsHolder {
  display: flex;
  align-items: center;
}

.graphIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  filter: drop-shadow(0px 0px 2px #f28f16);
}

.graphIcon:hover {
  cursor: pointer;
}

.imageIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  filter: drop-shadow(0px 0px 2px #f28f16);
}

.singleResult {
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  color: white;
  background-color: #325573;
  font-size: 14px;
}

.singleResultDiff {
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  color: white;
  font-size: 14px;
}

.tableHeaderLabels {
  color: #f2c288;
  display: flex;
  padding-left: 20px;
  font-weight: 500;
  width: 100%;
  margin-top: 10px;
}

.tableHeaderLabelSmall {
  width: calc(100% / 6);
}

.tableHeaderLabelSmallBold {
  width: calc(100% / 8);
  font-weight: bold;
  margin-right: 10px;
}

.tableHeaderLabelSmallLabel {
  width: calc(100% / 8);
  margin-right: 10px;
  color: #578bb8;
}

.tableHeaderLabelSmallDate {
  width: calc(100% / 5);
}

.tableHeaderLabelLarge {
  width: calc(100% / 2.5);
  margin-right: 5px;
}

.resultHolder {
  overflow-y: scroll;
  height: calc(100% - 60px);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.resultHolder::-webkit-scrollbar {
  display: none;
}
